body{
	font: sans-serif;
}


.list{
	list-style-type: disc;
	list-style-type: square;
	list-style-type: circle;
	list-style-type: lower-norwegian;
	list-style-type: none;
}

.list-2 li{
	background-color: skyblue;
}

.text-colum-4{

}