/*estilos iniciales al documento*/
html{
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
}

/*reseteo de propiedades, hacer esto siempre*/
*,
*::after,
*::before{
	box-sizing: inherit;
}


.box{
	border: thick solid #000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5rem;
	width: 200px;
	height: 200px;
}

.shadows{
	color: navy;
	font-size: 2rem;
	text-align: center;
	/*box-shadow mov-x mov-y blur-radius spread-blur color inset/ouset*/
	box-shadow: 1rem 1rem 1rem 1rem;
	box-shadow: -1rem -1rem 1rem 1rem;
	box-shadow: -1rem -1rem 1rem 1rem;
	box-shadow: 1rem 1rem 1rem 1rem #0005;
	box-shadow: 1rem 1rem 1rem 1rem #f00;
	box-shadow: 1rem 1rem 2rem 0.5rem #0007;
	/*text-shadow: mov-x mov-y blur-radius color;*/
	text-shadow: -1rem -1rem 0.25rem hotpink; 

}


.shadows-multiple{
	font-size: 2rem;
	text-align: center;
	box-shadow: 1rem 1rem 1rem 1rem #0005, 1rem 1rem 1rem 1rem #f00 inset, 
	-.5rem -.5rem 0.5rem 2rem hotpink;
	text-shadow: -1rem -1rem 0.25rem navy, 1rem 1rem .5rem greenyellow; 
}


.drop-shadow img{
	max-width: 100%;
	/*filter: drop-shadow(mov-x mov-y blur-radius color);*/
	filter: drop-shadow(1rem 1rem 1rem red );
}


.linear-gradient{
	background-image: linear-gradient(30deg,red, green, blue);
	background-image: linear-gradient(180deg,red, orange, yellow, green, blue);
	background-image: linear-gradient(180deg,yellow 44%, blue 45% 75% , red 76%);
}

.radial-gradient{
	background-image: radial-gradient(cyan, magenta);
	background-image: radial-gradient(cyan, magenta, yellow);
	background-image: radial-gradient(circle 8rem,cyan, magenta, yellow);
	background-image: radial-gradient(circle 4rem,cyan 30%, magenta 80%, yellow);
	background-image: radial-gradient(circle 100px,cyan 30%, magenta 60%, yellow 90%);
	background-image: radial-gradient(circle 100px at top,cyan 30%, magenta 60%, yellow 90%);
	background-image: radial-gradient(ellipse 100px 50px,cyan 30%, magenta 60%, yellow 90%);
}


.conic-gradient{
	background-image: conic-gradient(red, green, blue);
	background-image: conic-gradient(red 0% 50%, green 60%, blue 80%k);
}


.repeat-gradient-linear{
	background-image: repeating-linear-gradient(red 0 10px, green 10px 20px, blue 20px 30px);
	background-image: repeating-linear-gradient(90deg,red 0 10px, green 10px 20px, blue 20px 30px);
}


.repeat-gradient-radial{
	background-image: repeating-radial-gradient(circle 4rem, cyan 0 10px, magenta 10px 20px, yellow 20px 30px);
}


.repeat-gradient-conic{
	background-image: repeating-conic-gradient(red 0 8%, yellow 8% 16%, black 16% 24% );
}


.chart-gradient{
	background-image: conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
	border-radius: 50%;
}


.donut-gradient{
	background-image: radial-gradient(white 40%, transparent 40%),
	 conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
	border-radius: 50%;
}


.card{
	border: thick solid #000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5rem;
	width: 600px;
	height: 400px;
}

.card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 50%;

}

.filter{
	/*	filter: blur(1rem);
	filter: blur(1rem);
	filter: brightness(.75);
	filter: contrast(.25);
	filter: contrast(.25);
	filter: contrast(3);
	filter: contrast(5)
	filter: grayscale(0.25);
	filter: grayscale(0.75);
	filter: grayscale(1);
	filter: grayscale(3);
	filter: sepia(.25);
	filter: sepia(.75);
	filter: sepia(1);
	filter: hue-rotate(45deg);
	filter: hue-rotate(45deg);
	filter: hue-rotate(45deg);
	filter: hue-rotate(210deg);
	filter: hue-rotate(330deg);
	filter: invert(1);
	filter: opacity(0.25);
	filter: opacity(0.74);
	filter: opacity(1);
	filter: saturate(.5);
	filter: saturate(1);
	filter: saturate(4);
	filter: none;
*/
	filter: invert(1);
}


.filters-multiple{
	filter: blur(0.1rem) hue-rotate(270deg) opacity(.75) invert(1);	
}


.relative{
	position: relative;
}

.absolute{
	position: absolute;
	top: 0;
	left: 0;

}


.backdrop-filter{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.backdrop-filter h4{
	border-radius: 1rem;
	padding: 2rem;
	font-size: 3rem;
	background-color: rgba(255, 102, 255, .5);
	backdrop-filter:grayscale(1);

}

.blend-modes img{
	/*mix-blend-mode: normal;
	mix-blend-mode: color;
	mix-blend-mode: color-dodge;
	mix-blend-mode: color-burn;
	mix-blend-mode: screen;
	mix-blend-mode: saturation;
	mix-blend-mode: luminosity;
	mix-blend-mode: hue;
	mix-blend-mode: exclusion;
	mix-blend-mode: difference;
	mix-blend-mode: exclusion;
	mix-blend-mode: overlay;
	mix-blend-mode: darken;	*/
	mix-blend-mode: multiply;
}


.bg-blend-modes{
	background-image: url(../assets/casa.jpg), url(../assets/nube.jpg);
	background-size: cover;
	background-blend-mode: multiply;
}


.clip-path{
	/*clip-path: circle();
	clip-path: circle(2rem);
	clip-path: circle(100px);
	clip-path: circle(100px at top);
	clip-path: circle(100px at left);
	clip-path: circle(100px at left);
	clip-path: circle(100px at left bottom);
	clip-path: circle(100px at center);
	clip-path: ellipse();*/
	clip-path: inset(1rem round 1rem);
}

.shapes{
	border: thick solid black;
	padding: 1rem;
	margin: 0 auto 5rem;
	max-width: 800px;
}

.shapes img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
	font-size: 1.25rem;
}


.float-left{
	float: left;
}


.float-right{
	float: right;
}

.shape-1{
	margin: 4rem 2rem 4rem 0;
	shape-outside: circle();
	/*shape-outside: ellipse();*/
}


.shape-2{
	margin: 4rem 0 4rem 2rem;
	shape-outside: ellipse();
}